body{
/* 	background-color: #EEE; */
}
/* .clearfix { */
/* 	overflow: auto; */
/* } */
.recherche {
	background-color: #FFF;
	margin:10px;
	border-radius: 10px;
	padding:10px;
}
.recherche input[type=text]{
	width:100%;
}
.form-control{
	width:100%;
}
.recherche input[type=submit]{
	float: right;
	padding:10px;
	margin:10px;
	width: 200px;
}
.block-section input[type=submit]{
	float: right;
	padding:10px;
	margin:10px;
	width: 200px;
}

.resultat {
	background-color: #FFF;
	margin: 10px;
	border-radius: 10px;
	padding:10px;
}
.block-section {
	background-color: #FFF;
	margin: 10px;
	border-radius: 10px;
	padding:10px;
}
.image-annonce img{
	border-radius: 10px;
}
.contact-inner{
	background-color: #FFF;
	margin:10px;
	padding:5px;
	border-radius: 10px;
}
.infos-annonce{
	background-color: #FFF;
	margin:10px;
	padding:5px;
	border-radius: 10px;
}
.image-annonce img{
	max-width: 200px;
}
.infos-annonce .images img{
	max-width: 200px;
	border-radius: 10px;
}
.infos-annonce .grande-image img{
	width: 600px;
	border-radius: 10px;
}
.contact-inner img{
	width: 30px;
}
.email-contact,.phone-contact{
	margin:10px;
}
.favoris-img{
	width:50px;
}

footer {
    height: 100px;
    bottom: 0;
    width: 100%;
}
/* menu déroulant */
#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#menu-deroulant {
/* on centre le menu dans la page */
    text-align: center;
}
#menu-deroulant li {
/* on place les liens du menu horizontalement */
    display: inline-block;
}
#menu-deroulant ul li {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
/*     background-color: #f8f8f8; */
}
#menu-deroulant a {
    text-decoration: none;
    display: block;
	color:#333;/*#000;*/
}
#menu-deroulant ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
}
#menu-deroulant li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
}
.dropdown table tr td a {
	text-decoration: none;
	 display: block;
	 color : #777;
	 margin-top: 15px;
}
.dropdown table tr td a ul {
	 margin-top: 0px;
}
.dropdown table tr td a ul li {
	 margin-top: 0px;
}
.dropdown table tr td a ul li a {
	 margin-top: 0px;
}